body {
  margin: 0;
  font-family: 'Lemon', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  overflow: hidden;
  color: white;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px skyblue;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  width: 80%;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  background: red;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.error {
  color: #ff7e7e;
  font-size: 0.9rem;
  margin-top: 10px;
}
