body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Lemon Milk', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 250px;
  margin-bottom: 20px;
}

.countdown {
  font-size: 24px;
  margin: 10px 0;
}

.quote {
  font-family: 'Signature', cursive;
  font-size: 22px;
  margin: 10px 0;
}

.open-heart {
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  margin-top: 20px;
  box-shadow: 0 0 20px skyblue;
  cursor: pointer;
}

.open-heart:hover {
  background-color: #ff4d4d;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
